#van{
    margin-left: 110px;
    width: auto;
    height: auto;
    padding: 0;
}
#im{
    margin-left: 1550px;
   width: 100px;
   height: 100px;
   margin-top: -80px;
}
#caj{
    float: right;
    
}
#cajita{
    float: right;
}
#but{
    float: right;
}
#ubic{
    float: right;
}